CREATE TABLE IF NOT EXISTS public.coa_requests (
  id                    UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id               UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  name                  TEXT NOT NULL,
  email                 TEXT NOT NULL,
  phone                 TEXT,
  requested_product_ids UUID[] NOT NULL,
  status                TEXT NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'fulfilled')),
  created_at            TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  fulfilled_at          TIMESTAMPTZ
);
